* {
  font-family: 'inter', system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  p,
  h3 {
    margin: 0px;
  }
}

.content {
  h1 {
    margin: 0px;
  }
}

.card {
  border: 1px solid #f3f3f3;
  width: 220px;
  padding: 30px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favourite {
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: 12px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 13px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
}

.button {
  background: #ffffff;
  border: 1px solid #dbcece;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
}

.search-block {
  border: 1px solid #f3f3f3;
  padding: 0 15px;
  border-radius: 10px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;

  @media screen and (max-height: 580px) {
    height: 125%;
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -3px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten($color: #9dd558, $amount: 10%);
  }

  &:active {
    background: darken($color: #9dd558, $amount: 10%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -2px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
